body{
    height: 100vh;
    padding: 25px 35px;
    background: linear-gradient(to bottom,  #009688 0% 20%, #D7DBD7 20% 100% );
    
}
.container{
    background-color: white;
    height: 95vh;
}
/*colors

/*utilities*/
.round-images{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.icons-user{
    margin-left: auto;
}
.head .fas{
    padding-right: 10px;
    color: lightgray;
    font-size: 1.7rem;
}

.notific{
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.4rem;
    color: #8edafc;

}

.text-notific{
    line-height: 80px;
    vertical-align: middle;
    padding-left: 10px;

}

.notif-text-down,
.notif-text-up{
    line-height: normal;
    margin: 0;
}
.notif-text-down{
    text-decoration: underline;
    color: rgb(100, 100, 100);
}

/*layout*/
.head{
    background-color: #EAEAEA;
    height: 70px;
    width: 100%;
    line-height: 70px;
    vertical-align: middle;
    padding-left: 10px;
}

.alert-cs{
    background-color: #8EDAFC;
    height: 80px;
    width: 100%;
    
    line-height: 80px;
    vertical-align: middle;
    padding-left: 10px;
}