body{
    height: 100vh;
    padding: 25px 35px;
    background: linear-gradient(to bottom,  #009688 0% 20%, #D7DBD7 20% 100% );
    
}
.container{
    background-color: white;
    height: 95vh;
}
/*colors

/*utilities*/
.round-images{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.icons-user{
    margin-left: auto;
}
.head .fas{
    padding-right: 10px;
    color: lightgray;
    font-size: 1.7rem;
}

.notific{
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.4rem;
    color: #8edafc;

}

.text-notific{
    line-height: 80px;
    vertical-align: middle;
    padding-left: 10px;

}

.notif-text-down,
.notif-text-up{
    line-height: normal;
    margin: 0;
}
.notif-text-down{
    text-decoration: underline;
    color: rgb(100, 100, 100);
}
.input-search{
    text-decoration: none;
    border: none;
    width: 70%;
}
.search-cs .fa-search{
    margin-right: 30px;
    color: lightgray;
    
}

.last-access{
    line-height: normal;
}
.msg-input{
    text-decoration: none;
    border: none;
    height: auto;
    width: 100%;
    height: 50px;
    border-radius: 10px;

}
.fa-microphone,
.fa-smile{
    font-size: 2rem;
    color: gray;
}

/*layout*/
.head{
    background-color: #EAEAEA;
    height: 70px;
    width: 100%;
    line-height: 70px;
    vertical-align: middle;
    padding-left: 10px;
}

.alert-cs{
    background-color: #8EDAFC;
    height: 80px;
    width: 100%;
    
    line-height: 80px;
    vertical-align: middle;
    padding-left: 10px;
}

.search-around{
    height: 40px;
    width: 100%;
    padding: 10px 15px;
    background-color: #F9F9F9;
    
}
.search-cs{
    width: 100%;
    background-color: white;
    padding-left: 10px;
}

.contact-chat{
    padding: 10px 15px;
}
.contact-list{
    overflow-y: auto;
    height: 75vh;
}

.main-chat{
    background-image: url(../img/mine.jpg);
    height: 80vh;
    padding: 10px 40px;
    overflow-y: scroll;
}

.msg{
    min-height: 40px;
    border-radius: 10px;
    padding: 10px;
}
.msg-info{
    font-size: 9px;
}

.type-msg{
    height: 73px;
    background-color: #F3EEEA;
    
    padding: 10px 15px;
}

.container-input-msg{
    width: 80%;
    height: 50px;
}





/*** JS classes***/
.clicked-chat{
    background-color:#F9F9F9 ;
}

.sended-message{
    background-color: #D5F9BA;
}
.received-message{
    background-color: #FFFFFF;
}