<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Boolzap</title>
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
    integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=='
    crossorigin='anonymous' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css'
    integrity='sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=='
    crossorigin='anonymous' />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/customParseFormat.js"></script>
</head>

<body>
  <!--background con linear gradient -->
  <div class="bgc-g">
    
    <div id="root">
      <!--container main page -->
      <div class="container p-0">
        <div class="row g-0">
          
          <!--colonna sezione di sinistra -->
          <div class="col-4 p-0 ">
            
            <!--header con nome utente e foto-->
            <section class="head d-flex">
              <div class="user-image">
                <img src="img/avatar_io.jpg" class="round-images " alt="">
              </div>
              <div class="user-name d-flex">
                <span class="fs-5">Nome utente</span>
              </div>

              <div class="icons-user">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
              
              
            </section>
            <!--alert per le netofiche-->
            <div class="alert-cs d-flex align-items-center">
              <div class="round-images bg-white notific">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="text-notific">
                <p class="d-flex notif-text-up">Ricevi notifiche di nuovi messaggi</p>
                <p class="d-flex notif-text-down ">Attiva notifiche desktop</p>
              </div>
            </div>

            <!--campo di ricerca contatti-->
            <section class="search-around d-flex align-items-center">
              <div class="search-cs">

                <i class="fas fa-search"></i>
                <input type="text" class="input-search" v-model.trim='search' placeholder="Cerca o inizia una nuova chat" @keyup='findeContact()'>
              </div>
            </section>
            
            <!--sezione lista utenti/chat attive-->
            <section class="contact-list">

              <!-- chat aperte-->
              <div v-for='(contact, index) in contacts' v-if='contact.visible' class="d-flex contact-chat " :class='classClicked(index)' @click='getChat(index)' role="button">
                <img :src="`img/avatar${contact.avatar}.jpg`" class='round-images'alt="">
                <span class="fs-5 ps-2 name-user">{{contact.name}}

                  <p class="last-access">{{time()}}</p>
                </span>
              </div>
            </section>
          </div>


          <!--colonna sezione di destra -->
          <div class="col-8 p-0" >

            <!--header messages -->
            <div class="top-messages" >
              <section  class="head d-flex">
                <div class="user-image" >
                  <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" class="round-images " alt="">
                </div>
                <div class="user-name ">
                  <h3 class="fs-5 pt-3 mb-0">{{contacts[currentIndex].name}}</h3>
                  <p class="last-access">{{time()}}</p>
                </div>
  
                <div class="icons-user pe-3">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-paperclip"></i>
                  <i class="fas fa-ellipsis-v"></i>
                </div>
                
              </section>
            </div>

            <!--chat messages section-->
            <section  id="chat-messages" class="main-chat">
              <div class="row gy-2">
                <div class="col-12" v-for='(message, index) in contacts[currentIndex].messages'>
                  <div class="msg col-4" :class='getStatus(index)'>
                    <!--menù a tendina messaggio -->
                    <div :class="classMenu(index)" class="drop-menù" >
                      <p>Info messaggio</p>
                      <p role="button" @click='dellMessage(index)'>Elimina messaggio</p>
                    </div>
                    <i class="fas fa-chevron-down d-flex justify-content-end " role="button" @click='showMenù(index)'></i>
                    <p class="ps-3 mb-0">{{message.text}}</p>
                    <span class="msg-info d-flex justify-content-end">{{message.date}}</span>
                  </div>
                </div>
                
              </div>
            </section>
            
            <!--input text bottom section-->
            <section class="type-msg d-flex align-items-center justify-content-between">
              <i class="far fa-smile"></i>
              <div class="container-input-msg">
                <input type="text" class="msg-input" v-model='newMessage' placeholder="Scrivi un messaggio" @keyup.enter='newMessages'>
              </div>
              <i class="fas fa-microphone pe-2"></i>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/script.js"></script>
</body>

</html>